.navbar {
  background-color: #00008b;
}

html,body {
  height:100%;
width:100%;
position:relative;
}
#background-carousel{
position:fixed;
width:100%;
height:100%;
z-index:-1;
}
.carousel,
.carousel-inner {
width:100%;
height:100%;
z-index:0;
overflow:hidden;
}
.item {
width:100%;
height:100%;
background-position:center center;
background-size:cover;
z-index:0;
}

#content-wrapper {
position:absolute;
z-index:1 !important;
min-width:100%;
min-height:100%;
}
.well {
  opacity:0.85
}